.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    gap:1rem;
}

.card:hover{
    transform: scale(1.03);
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
}

.card img{
    width: 15rem;
    object-fit: cover;
}

.card h3{
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.card h4{
    font-size: 0.8rem;
    font-weight: 500;
}