.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 1rem;
}

.about h3{
    font-size: 5rem;
}

.about p {
    text-align: center;
    line-height: 2rem;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-family: "Comic Sans MS";
}