.cartTemplate{
    display: grid;
    grid-template-columns:60% 20% 20% ;
    align-items: center;
    font-size: 0.8rem;
    padding: 20px 30px;
    padding-left: 10px;
}

.price{
    justify-self: end;
}

.count{
    justify-self: end;
}

.cartTemplate h3{
    font-weight: 500;
    font-size: 0.9rem;
}