
.Home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
}

.Home ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}

.Home ul li{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.Home h1{
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.contact img{
    width: 80%;
    height: auto;
}

.contact a{
    border: 1px solid #969696;
    color: #b1b1b1;
    padding: 1rem 3rem;
    border-radius: 3px;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}

.contact p{
    margin-top: 1.5rem;
    font-weight: 300;
    color: #b1b1b1;
    letter-spacing: 0.2rem;
    font-style: italic;
}